@page "/fetchdata"
@inject HttpClient Http

<h1>Buildings</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (buildings == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var building in buildings)
            {
                <tr>
                    <td>@building.BuildingId</td>
                    <td>@building.BuildingRef</td>
                    <td>@building.BuildingName</td>
                    <td>@building.tableDate.ToShortDateString()</td>
                </tr>
            }
        </tbody>
    </table>
}

@functions {
    Building[] buildings;

    protected override async Task OnInitAsync()
    {
        buildings = await Http.GetJsonAsync<Building[]>("sample-data/buildings.json");
    }

    class Building
    {
        public long BuildingId { get; set; }
        public string BuildingRef { get; set; }
        public string BuildingName { get; set; }
        public DateTime tableDate { get; set; }
    }

}
