@page "/"
@inject HttpClient Http
@inherits ControllerBase

    <div id="app">
        <nav class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">

                    <!-- Collapsed Hamburger -->
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#app-navbar-collapse">
                        <span class="sr-only">Toggle Navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <!-- Branding Image -->
                    <a class="navbar-brand" href="/">
                       PINS Space Management
                    </a>
                </div>

                <div class="collapse navbar-collapse" id="app-navbar-collapse">
                    <!-- Left Side Of Navbar -->
                    <ul class="nav navbar-nav">
                        &nbsp;
                    </ul>

                    <!-- Right Side Of Navbar -->
                    <ul class="nav navbar-nav navbar-right">
                        <!-- Authentication Links -->
                            <li><a href="/login">Login</a></li>
                            <li><a href="/register">Register</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="panel panel-default">
                        <div class="panel-heading">You are Logged in!</div>
    
                        <div class="panel-body">
                            <ul class="nav" role="tablist">
                                <li role="presentation">
                                    <a href="admin">
                                        Dashboard
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="nav nav-pills">
                <li class="active"><a data-toggle="tab" href="#superman">Queensgate</a></li>
                <li><a data-toggle="tab" href="#batman">The PackHorse</a></li>
            </ul>
            <div class="row">
                <DateTimePicker />
                <Slider />
            </div>  
        
            <div id="superman" class="tab-pane fade in active">
                <div id="myGrid" style="width:100%;height:250px;"></div>
                <div id="pager" style="width:100%;height:20px;"></div>            </div>
            <div id="batman" class="tab-pane fade">
                Say hi
            </div>


        </div>
    </div>

@functions {
    int currentCount = 0;

    void IncrementCount()
    {
        currentCount++; 
    }
    protected override async Task OnInitAsync()
    {
        //await JSRuntime.Current.InvokeAsync<bool>("init");
    }
    protected override async Task OnParametersSetAsync()
    {
        // Simulate async initialization work
        await Task.Delay(1000);
        Building.Buildings = await Http.GetJsonAsync<Building[]>("sample-data/buildings.json");
        var bldgs=Building.Monthly("2012-9-30");
        await log(bldgs);
        await init(bldgs,bldcols,Building.Months());

    }/*
    protected override void OnInit()
    {
        //log(new {msg="Init called"});

    }
    protected override void OnParametersSet()
    {
        // Simulate async initialization work
        log("Params set");
        //poptestdata();
    }*/
    object[] bldcols = new object[]{
        new{id= "id", name= "Id", field= "id", behavior= "select", cssClass= "cell-selection", width= 40, cannotTriggerInsert= true, resizable= false, defaultSortAsc= true, selectable= false },
        new{id= "buildingRef", name= "Bldg Ref", field= "buildingRef", selectable= false, minWidth= 60},
        new{id= "buildingName", name= "Building Name", field= "buildingName", width= 150, minWidth= 180, selectable= false},
        new{id= "tableDate", name= "Table Date", field= "tableDate", minWidth= 100, selectable= false}
    };
  
}
