<ul id="contextMenu" style="display:none;position:absolute">
  <b>Set priority:</b>
  <li data="Low">Low</li>
  <li data="Medium">Medium</li>
  <li data="High">High</li>
    <ul>
    <b>Set priority:</b>
    <li data="Low">Low</li>
    <li data="Medium">Medium</li>
    <li data="High">High</li>
    </ul>
</ul>

@functions {

    protected override async Task OnParametersSetAsync()
    {
        // Simulate async initialization work
        await Task.Delay(000);
        //await JSRuntime.Current.InvokeAsync<bool>("init");

    }

}
